[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space
    # ,cr-at-eol
[color]
    ui = always
[alias]
    s = status
    sb = status -s -b
    st = status
    #############
    c = commit
    ca = commit -a
    cm = commit -m
    cam = commit -am
    ci = commit
    #############
    co = checkout
    lg = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    ll = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    br = branch
    df = diff
    #############
    me = branch -a --merged
    fa = fetch --all
[include]
    path = /home/vagrant/.git_aliases
[user]
	name = Guillaume L
	email = glenoir@lafourchette.com
